@import "tailwindcss";

:root {
  --bg: #05060a;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 7.5rem;
  }
}

html, body, #__next {
  height: 100%;
}

.container {
  max-width: 1100px;
}

.projects-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.projects-scroll::-webkit-scrollbar {
  display: none;
}